* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  width: 350px;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

h2 {
  margin-bottom: 15px;
}

.search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 25%;
  background-color: #2193b0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #17657a;
}

.weather-box {
  font-size: 16px;
  color: #333;
}

.weather-box img {
  width: 100px;
}